.main {
    max-width: 1600px;
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/img-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        text-align: center;
    }
    &__title {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        
        color: $primary-white-color;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}