%style-header-links {
    @media screen and (min-width: $tablet) {
        font-size: 12px;
    }
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    list-style: none;

    transition: color $time-duration $timing-function;
}
%style-name-features_services {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
%style-primary-title {
    margin-top: 0;
    font-weight: 700;
    text-align: center;

    color: $secondary-text-color;
    
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
        line-height: 1.18;
    }
    @media screen and (min-width: $desctop) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}
%style-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: color $time-duration $timing-function, 
                background-color $time-duration $timing-function;
}
%style-footer-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white-color;
}
%style-modal-form__text {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
%style-modal-form__label {
    display: flex;
    flex-direction: column;
    position: relative;
}
%style-modal-form__field {
    @media screen and (max-width: 1199px) {
        min-width: 370px;
    }
    @media screen and (min-width: $desctop) {
        min-width: 448px;
    }
    min-height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $time-duration $timing-function;
}
%style-modal-form__icon {
    position: absolute;
    top: 29px;
    left: 12px;

    color: $secondary-text-color;

    transition: color $time-duration $timing-function;
}